.navbar-medico {
  background-color: #0077b6;
  display: flex;
  align-items: center;
  justify-content: center; /* centra todo horizontalmente */
  padding: 0.75rem 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  position: relative;
}

.navbar-links {
  display: flex;
  gap: 30px;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: white;
  display: inline-block;
  vertical-align: middle;
  transition: all 0.3s ease;
}

.navbar-logout {
  margin-left: auto;
}

.logout-button {
  background-color: #ff4d4d;
  border: none;
  padding: 8px 16px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.logout-button:hover {
  background-color: #cc0000;
}